.centeredBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.preferenceBox {
	height: auto;
	background-color: #d9d9d9;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	padding-right: 10vh;
	padding-left: 10vh;
	margin-top: 6vh;
}
