.buttonContainer {
	display: flex;
	flex-direction: row;
	gap: 3vh;
}

.button {
	width: 12vh;
	padding: 2vh;
	height: 5vh;
	background-color: white;
	border: 1px solid black;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 3px;
	cursor: pointer;
}

.selected {
	background-color: lightgray;
}
